[class^="roleRemoveIcon_"] {
  left: calc(4px + /* Pill padding */ 1px + /* "Remove Role" */ 4px + /* Circle margin */ 12px / 2 /* Circle size */);
}

.role_dfa8b6.pill_dfa8b6 {
  position: relative;
  background: none;
  border: none;
  padding-left: 28px;
}

.role_dfa8b6.pill_dfa8b6 > span {
  z-index: 1;
}

.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0 !important;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
  margin: 6px 8px;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
  content: "";
  display: block;
  position: absolute;
  background-color: inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: var(--radius-xs);
  filter: brightness(1.1);
  opacity: 0.25;
}
